.gradle/
**/build/
local.properties
.idea/
*.iml
*.jks
*.keystore
.DS_Store
marc-app/node_modules/
marc-app/www/
marc-app/android/
marc-app/release-output/
marc-app/screenshots/
marc-app/native-test-build/
